<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Test\RegisterLog\Logger\Base" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/test_register_logger.log</argument>
        </arguments>
    </virtualType>

    <virtualType name="Test\RegisterLog\Logger\Monolog" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">Test\RegisterLog\Logger\Base</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Test\RegisterLog\Plugin\RegisterLog">
        <arguments>
            <argument name="logger" xsi:type="object">Test\RegisterLog\Logger\Monolog</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Registry">
        <plugin name="test_registry_log" type="Test\RegisterLog\Plugin\RegisterLog" sortOrder="10" />
    </type>
</config>